#
# OpenSSL default AFR configuration file.
#

[ ca ]
default_ca	= afr_ca		# The default ca section

[ afr_ca ]
# Directory and file locations
dir		= .			# Where everything is kept
certs		= $dir/certs		# Where the issued certs are kept
crl_dir		= $dir/crl		# Where the issued crl are kept
new_certs_dir	= $dir/newcerts		# default place for new certs.
database	= $dir/index.txt	# database index file.
serial		= $dir/serial 		# The current serial number
RANDFILE	= $dir/private/.rand	# private random number file

# Root key and cert.
private_key	= $dir/private/key.pem	# The private key
certificate	= $dir/certs/cert.pem 	# The CA certificate
default_md 	= sha512

# Certificate revocation lists.
crlnumber	= $dir/crlnumber	# the current crl number
					# must be commented out to leave a V1 CRL
crl		= $dir/crl/crl.pem 	# The current CRL
crl_extensions	= crl_ext
default_crl_days = 36500		# how long before next CRL

name_opt 	= ca_default		# Subject Name options
cert_opt 	= ca_default		# Certificate field options
default_days 	= 36500
preserve	= no			# keep passed DN ordering
policy		= policy_anything
x509_extensions	= v3_root		# The extentions to add to the cert

# For the 'anything' policy
# At this point in time, you must list all acceptable 'object'
# types.
[ policy_anything ]
commonName		= supplied

[ req ]
# Options for the 'req' tool.
default_bits		= 4096
distinguished_name	= req_distinguished_name
# FIXME: UTF-8 makes sense for international/cultural use, but not for AFR,
# where the admin would want to restrict strings to their native language.
string_mask		= utf8only
default_md		= sha512

[ req_distinguished_name ]
commonName			= Common Name (e.g. server FQDN or YOUR name)

# Extensions for root CA.
[ v3_root ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical,CA:TRUE

# Extensions for a "service" certificate.  Service certificates must be used
# in order to verify the authenticity of a particular service to the end user.
[ v3_service ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical,CA:FALSE
extendedKeyUsage = critical,serverAuth
# Stupid hack because I can't figure out a way to specify this in the command
# without modifying the whole damn file, and including another file appears
# to simply override this one with no way to copy the other values in the
# section.
subjectAltName = critical,DNS:FIXME_SAN

# Extensions for a "signing" certificate.  Signing certificates are used by the
# serverice in order to invite friends and issue referrer certificates.
[ v3_signing ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical,CA:TRUE, pathlen:1
extendedKeyUsage=critical,clientAuth

# Extensions for a "referrer" certificate.  Referrer certificates may used by
# friends in order to invite others (known as "referred" users) to the service.
[ v3_referrer ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical,CA:TRUE, pathlen:0
extendedKeyUsage=critical,clientAuth

# Extensions for a "client" certificate.  Client certificates may only be used
# by users in order to authenticate to a service.  The client may either be a
# friend or referred user.
[ v3_client ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical,CA:FALSE
extendedKeyUsage = critical,clientAuth

[ crl_ext ]
authorityKeyIdentifier=keyid:always
